In [1]:
name = "Novi"
address, province = "Jl. Cibolang","7413412"
age = 19
scorePython = 85.7
isMarried = False

print("Nama : ",name)
print("Alamat :",address)
print("Umur :",age)
print("Nilai Pemrograman :",scorePython)
print("Status Menikah :",isMarried)
print("Provinsi :",province)

Nama :  Novi
Alamat : Jl. Cibolang
Umur : 19
Nilai Pemrograman : 85.7
Status Menikah : False
Provinsi : 7413412

In [2]:
print("Tipe Data <name>", type(name))
print("Tipe Data <address", type(address))
print("Tipe Data <age>", type(age))
print("Tipe Data <csorePython>", type(scorePython))
print("Tipe Data <isMarried>", type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <address <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <csorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [3]:
#Casting / KOnversi Tipe Data
#1. String ke (int,float,boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt + 2,strToFloat,strToBool, sep="-")

#2. Int ke (str,float,boolean)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr, intToFloat, intToBool, sep="-")

#3. Float ke (int,str,boolean)
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr, floatToInt, floatToBool, sep="-")
#4. Bool ke (int,str,boolean)
boolToStr = str(isMarried)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
print(boolToStr, boolToInt, boolToFloat, sep="-")

7413414-7413412.0-True
19-19.0-True
85.7-85-True
False-0-0.0

In [4]:
#tipe data basis bilangan (desimal,biner,octal,hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai Desimal :",desimal)
print("Nilai Biner :",biner)
print("Nilai Octal :",octal)
print("Nilai Hexa :",hexa)

print("Nilai Biner Dari ",desimal, ":",bin(desimal))
print("Nilai Octal Dari ",desimal, ":",oct(desimal))
print("Nilai Hexa Dari ",desimal, ":",hex(desimal))

Nilai Desimal : 500
Nilai Biner : 10
Nilai Octal : 255
Nilai Hexa : 255
Nilai Biner Dari  500 : 0b111110100
Nilai Octal Dari  500 : 0o764
Nilai Hexa Dari  500 : 0x1f4

In [5]:
city = "SUKABUMI"
length = len(city)
print(city[0])
print(length)
print(city[length-1])

S
8
I

In [8]:
#Tipe data Collection
cities = ["Bandung","Sukabumi","Bogor","Jakarta"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][1])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities[5] = "Malang akan menyebabkan error of range"
print(cities)

names = ("Andi","Ferdi","Raihan")
print(names)
print(names[1])
#names[0] = "Dedi" error immutable tuple

studentData = {
    "name" : "Robi",
    "age" : 25,
    "address" : {
        "street" : "Cisat",
        "number" : 21,
        "province" : "Jawa Barat",
    },
    "isMarried" : True,
    "hobbies" : ["Basket Ball","Foot Ball"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"])

studentList = [
    {
        "name" : "Robi",
        "age" : 25,
        "address" : {
            "street" : "Cisat",
            "number" : 21,
            "province" : "Jawa Barat",
        },
        "isMarried" : True,
        "hobbies" : ["Basket Ball","Foot Ball"]
    },
    {
        "name" : "Maya",
        "age" : 19,
        "address" : {
            "street" : "Cisat",
            "number" : 21,
            "province" : "Jawa Barat"
        },
        "isMarried" : True,
        "hobbies" : ["Dance"]
    }
]
print(studentList[1]["address"]["province"])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta']
Bandung
Jakarta
J
a
a
['Bali', 'Sukabumi', 'Bogor', 'Jakarta']
('Andi', 'Ferdi', 'Raihan')
Ferdi
{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball', 'Foot Ball']}
25
Jawa Barat
['Basket Ball', 'Foot Ball']
Jawa Barat

In [9]:
#konversi dictionary

list_list = [["name", "Andi"], ["age", 30], ["status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple =  [("name", "Rudi"), ("address", "Bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["name", "Tiger"], ["type", "Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("name", "Crocodile"), ("type", "Reptile"))
dictTupAnimal = dict(tuple_tuple)
print(dictTupAnimal)

keys = ["vehicle","Brand","cc"]
values = ["car","BMW","2500"]
car = dict(zip(keys,values))
print(car)

{'name': 'Andi', 'age': 30, 'status': True}
{'name': 'Rudi', 'address': 'Bogor'}
{'name': 'Tiger', 'type': 'Mamalia'}
{'name': 'Crocodile', 'type': 'Reptile'}
{'vehicle': 'car', 'Brand': 'BMW', 'cc': '2500'}